nav {
    display: flex;
    justify-content: space-between;
    padding:  8px;
    height: 72px;
    align-items: center;
  }
  
nav ul {
    display: flex;
    gap: 24px;
    list-style-type: none;
    font-weight: 500;
}
  
nav li a{
    list-style: none;
    text-decoration: none;
}
  
nav img {
    max-width: 80px;
}

